/* Patrick Schilder 10353488 */


#head {
	background-color: #424242;
	color: #FFF;
}

body {
	background-color: #E6E6E6;
}


#mapcontainer {
	height: 550px;
	position: relative;
}

.rightPane {
	padding-left: 0px;
    padding-right: 0px;
}

.info {
	font-size: x-small;
}

/*.datamaps-arc {
	stroke: rgb(0, 0, 0) !important;
}*/


/* Graph */
.historyIn {
	fill: green;
}

.historyOut {
	fill: red;
}

.bar:hover {
  fill: black;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


/* pie chart */

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;








