/* Patrick Schilder 10353488 */


#head {
	background-color: #424242;
	color: #FFF;
}

body {
	background-color: #E6E6E6;
}


#mapcontainer {
	height: 500px;
	position: relative;
}

.axis {
   font: 10px sans-serif;
 }

 .axis path, .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

