/* Patrick Schilder 10353488 */


#head {
	background-color: #424242;
	color: #FFF;
}

body {
	background-color: #E6E6E6;
}

/*#visualisation {
	margin: 10px 10px;
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 1060px;
    background-color: #FFF;
}*/

#mapcontainer {
	height: 400px;
}

/*#info {
	height: 400px;
	margin: 2px 0 2px 810px;
	border: 2px solid #000;*/
	
}



