#grafiek {
   margin-left: 75px;
}
#legenda {
   border:1px solid #000000;
   margin-left: 915px;
   margin-top: -400px;
   margin-right: 20px;
   min-width: 117px;
   padding-left: 10px;
}

.kleurvak {
   border:1px solid #000000;
   float: left;
   width: 20px;
   height: 14px;
}

#kv0 {
   background-color: #fef0d9;
}

#kv1 {
   background-color: #fdcc8a;
}

#kv2 {
   background-color: #fc8d59;
}

#kv3 {
   background-color: #e34a33;
}

#kv4 {
   background-color: #b30000;
}

#kv5 {
   background-color: #E0E0E0;
}

#kleurenuitleg {
   margin-top: 210px;
}